<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ChatBot</title>
  <link rel="stylesheet" href="style.css">
<<<<<<< HEAD
  <script src="https://kit.fontawesome.com/848f303d41.js" crossorigin="anonymous"></script>
=======
  <script
      src="https://kit.fontawesome.com/848f303d41.js"
      crossorigin="anonymous"
    ></script>
>>>>>>> fd110c33547a7239b671e58f40f006f45a28f02d
</head>
<body>
  <h1>ChatBot</h1>
    <form id="promptForm" action="/" method="POST">
    <div class="container">
    <label for="prompt">Enter your prompt:</label>
    <div class="search">
    <input type="text" id="prompt" name="prompt" required>
    <button type="submit">
    <i class="fa-brands fa-searchengin fa-rotate-90 fa-2xl"></i>
    </button>
    </div>
  </div>
  </form>

<%if(response != null){%>
<div class="response"><%=response%></div>
<%}%>
</body>
</html>
