<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ChatBot</title>
  <link rel="stylesheet" href="style.css">
  <script
      src="https://kit.fontawesome.com/848f303d41.js"
      crossorigin="anonymous"
    ></script>
</head>
<body>
  <h1>ChatBot</h1>
    <form id="promptForm" action="/" method="POST">
    <div class="container">
    <label for="prompt">Enter your prompt:</label>
    <div class="search">
    <input type="text" id="prompt" name="prompt" required>
    <button type="submit"><i class="fa-duotone fa-magnifying-glass fa-rotate-90"></i></button>
    </div>
  </div>
  </form>

<%if(response != null){%>
<div class="response"><%=response%></div>
<%}%>
</body>
</html>
