*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #0A4D68;
}
h1{
    text-align: center;
    color: #fff;
    text-decoration: underline;
}
.container{
    height: 20vw;
    width: 60vw;
    border: 1px solid black;
    margin: 5vw auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #088395;
}
.container label{
    font-size: 2vw;
    text-decoration: underline;
}
.container input{
    width: 40vw;
    height:1vw;
    border-radius: 10vw;
    padding: 1vw;
    background-color: #D7BBF5;
}
.container button{
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    padding: 2px;
    background-color: #D7BBF5;
}
.search{
    /* display: flex;
    flex-direction: row;
    justify-content: space-around; */
}
/* .search{
    margin-right: 50px;
} */
.response{
    border: 1px solid black;
    height: auto;
    width: 58vw;
    margin: 0 auto;
    padding: 2vw;
    background-color: #088395;
}